[submodule "lib/moonstone"]
	path = lib/moonstone
	url = ../moonstone.git
[submodule "lib/spotlight"]
	path = lib/spotlight
	url = ../spotlight.git
[submodule "lib/layout"]
	path = lib/layout
	url = ../layout.git
[submodule "enyo"]
	path = enyo
	url = ../enyo.git
[submodule "lib/ilib"]
	path = lib/ilib
	url = ../enyo-ilib.git
[submodule "lib/cordova"]
	path = lib/cordova
	url = ../enyo-cordova.git
[submodule "lib/webos"]
	path = lib/webos
	url = ../enyo-webos.git
