[submodule "lib/moonstone"]
	path = lib/moonstone
	url = ../moonstone.git
[submodule "lib/spotlight"]
	path = lib/spotlight
	url = ../spotlight.git
[submodule "lib/layout"]
	path = lib/layout
	url = ../layout.git
[submodule "enyo"]
	path = enyo
	url = ../enyo.git
[submodule "lib/enyo-cordova"]
	path = lib/enyo-cordova
	url = ../enyo-cordova.git
[submodule "lib/enyo-webos"]
	path = lib/enyo-webos
	url = ../enyo-webos.git
[submodule "lib/enyo-ilib"]
	path = lib/enyo-ilib
	url = ../enyo-ilib.git
